@define-mixin container {
  box-sizing: border-box;
  width: 260px;
  margin: * auto;
  @media (--tablet) {
    width: 668px;
  }
  @media (--desktop) {
    width: 1050px;
  }
}
@define-mixin  fluid-width {
  width: 100%;
  margin: * auto;
}
@define-mixin  container-fluid {
  width: 260px;
  margin: * auto;
  @media (--tablet) {
    width: 87%;
    max-width: 1050px;
    margin: * auto;
  }
}
@define-mixin vert-padding $top: 0, $bottom: 0 {
  padding-top: $(top);
  padding-bottom: $(bottom);
}
@define-mixin  icon {
  position: absolute;
  content: "";
  cursor: pointer;
  transition: 80ms;
}
@define-mixin  zigzag-line {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: -5px;
  background: url("../img/bg-zigzag-line.svg") repeat-x;
  background-position: center top;
  background-size: contain;
  z-index: 5;
  @media (--tablet) {
    height: 15px;
  }
  @media (--desktop) {
    height: 23px;
  }
}
