.advance {
  position: relative;
  padding-top: 49px;
  background-color: #fbfbfb;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 575px auto;
  background-position: center -19px;
  @media (--mobile) {
    @media (--retina) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
  @media (--tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -42px;
    padding-top: 118px;
    z-index: 1;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    background-position: center top;
    @media (--retina) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
    &::before {
      content: "";
      position: absolute * * -14px 0;
      size: 100% 24px;
      background: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center top;
      background-size: auto 23px;
      z-index: 3;
      @media (--desktop) {
        position: absolute * * -3px 0;
        background-position: center top;
        background-size: auto 34px;
      }
    }
  }
  @media (--desktop) {
    padding-top: 110px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    background-position: center top;
    @media (--retina) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.advance__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @mixin container-fluid;
}
.advance__title {
  text-align: center;
  font-size: 2.7rem / 3rem;
  font-weight: 700;
  padding-bottom: 98px;
  span {
    display: block;
  }
  @media (--tablet) {
    width: 500px;
    padding-bottom: 338px;
    font-size: 4.3rem / 5rem;
    span {
      display: inline-block;
    }
  }
  @media (--desktop) {
    width: 650px;
    font-size: 5.3rem / 5.7rem;
    padding-bottom: 316px;
    .advance__shift {
      display: block;
    }
  }
}
.advance__list {
  padding: 0;
  margin: 0;
  list-style: none;
  @media (--tablet) {
    display: flex;
    @mixin container;
  }
}
.advance__item {
  @mixin fluid-width;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color-accent;
  @mixin vert-padding 25px, 30px;
  transition: all 80ms;
  &--alt-color {
    background-color: #56c3b2;
  }
  &:hover {
    transform: translateY(-5px) scaleY(1.1);
  }
  @media (--tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 334px;
    padding-top: 27px;
  }
  @media (--desktop) {
    width: 525px;
    padding-bottom: 35px;
  }
}
.advance__link {
  width: 130px;
  margin-left: 50px;
  font-size: 1.9rem / 2.4rem;
  font-weight: 700;
  color: $color-primary;
  text-decoration: none;
  transition: 80ms;
  span {
    display: block;
  }
  &:hover {
    transform: scaleY(0.91);
    .advance__icon {
      opacity: 0.7;
    }
  }
  &:active {
    opacity: 0.3;
    .advance__icon {
      opacity: 0.3;
    }
  }
  @media (--tablet) {
    box-sizing: border-box;
    width: 170px;
    margin-left: 32px;
    font-size: 2rem / 3rem;
  }
  @media (--desktop) {
    width: 200px;
    margin-left: 37px;
  }
}
.advance__icon {
  @mixin  icon;
  &--lamp {
    fill: #149080;
    size: 41px 62px;
    transform: translate(214px, -50px);
    opacity: 0.5;
    @media (--tablet) {
      transform: translate(221px, -58px);
    }
    @media (--desktop) {
      transform: translate(412px, -58px);
    }
  }
  &--toy {
    fill: #149080;
    size: 61px 61px;
    transform: translate(203px, -53px);
    opacity: 0.5;
    @media (--tablet) {
      transform: translate(203px, -56px);
    }
    @media (--desktop) {
      transform: translate(395px, -56px);
    }
  }
}
