.btn {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 17px;
  font-size: 1.7rem / 1.6rem;
  font-weight: 700;
  color: $color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $color-secondary;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &--theme-product-week {
    width: 260px;
    @media (--tablet) {
      width: 290px;
    }
  }
  &--theme-reviews {
    width: 260px;
    padding: 16px;
    font-size: 1.8rem / 1.6rem;
    @media (--tablet) {
      width: 175px;

      font-size: 1.7rem / 1.6rem;
      order: 1;
    }
    @media (--desktop) {
      margin-top: 7px;
    }
  }
  &--contacts {
    width: 260px;
    padding: 15px;
    margin: * auto;
    @media (--tablet) {
      width: 230px;
      padding: 16px;
    }
    @media (--desktop) {
      width: 230px;
      margin: 0;
      margin-top: -108px;
      margin-left: 175px;
    }
  }
  &--modal {
    width: 260px;
    color: $color-primary;
    background-color: $color-accent;
    border: 2px solid $color-accent;
    &:hover {
      border-color: $color-secondary;
    }
    @media (--tablet) {
      width: 360px;
      padding: 16px;
    }
  }

}
