.catalog {
  @mixin  fluid-width;
  @mixin vert-padding 30px, 59px;
  background-color: $color-primary;
  @media (--tablet) {
    @mixin vert-padding 81px, 64px;
  }
  @media (--desktop) {
    @mixin vert-padding 122px, 106px;
  }
}
.catalog__list {
  @mixin  container;
  margin-bottom: 28px;
  @media (--tablet) {
    margin-bottom: 53px;
  }
  @media (--desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3px;
  }
}
.catalog__item {
  box-sizing: border-box;
  width: 260px;
  margin-bottom: 30px;
  border: 1px solid $border-color;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
  @media (--tablet) {
    display: flex;
    flex-direction: row;
    width: 666px;
    margin-bottom: 53px;
  }
  @media (--desktop) {
    flex-direction: column;
    width: 316px;
  }
}
.catalog__img-wrap {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.catalog__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.catalog__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 260px;
  @mixin vert-padding 27px, 1px;
  padding-left: 27px;
  @media (--tablet) {
    size: 332px;
    margin-top: 0;
    padding-top: 26px;
    padding-left: 26px;
  }
  @media (--desktop) {
    size: 316px 197px;
    padding-top: 28px;
    padding-left: 25px;
  }
}
.catalog__title {
  display: block;
  font-size: 1.7rem / 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: $text-color-base;
  margin-bottom: 5px;
  transition: 80ms;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  span {
    display: block;
  }
  @media (--tablet) {
    font-size: 2rem / 2.4rem;
  }
}
.catalog__text {
  margin: 0;
  padding: 0;
  font-size: 1.3rem / 3rem;
  color: $color-secondary;
  margin-bottom: 19px;
  @media (--tablet) {
    font-size: 1.5rem / 3rem;
    margin-bottom: 0;
  }
}
.catalog__wrap-order {
  width: 205px;
  @mixin vert-padding 21px, 27px;
  border-top: 1px solid $border-color;
  @media (--tablet) {
    margin-top: auto;
    width: 268px;
    @mixin vert-padding 22px, 24px;
    margin-left: 6px;
  }
  @media (--desktop) {
    width: 255px;
    @mixin vert-padding 22px, 24px;
    margin-left: 2px;
  }
}
.catalog__text-price {
  position: relative;
  display: block;
  font-size: 1.5rem / 2.4rem;
  font-weight: 700;
  @media (--tablet) {
    font-size: 1.7rem / 2.4rem;
  }
}
.catalog__icon-cart {
  @mixin  icon;
  size: 21px 18px;
  top: 1px;
  right: 0;
  opacity: 0.2;
  transition: 80ms;
  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  &:active {
    opacity: 0.3;
  }
}
