.contacts {
  @mixin fluid-width;
  @mixin vert-padding 26px, 40px;
  background-color: $color-primary;
  @media (--tablet) {
    @mixin vert-padding 32px, 57px;
  }
  @media (--desktop) {
    @mixin container;
    @mixin vert-padding 76px, 105px;
  }
}
.contacts__container {
  box-sizing: border-box;
  position: relative;
  @mixin fluid-width;
  @media (--desktop) {
    @mixin container;
    padding-left: 175px;
  }
}
.contacts__title {
  @mixin container;
  font-size: 1.8rem / 3rem;
  margin-bottom: 25px;
  @media (--tablet) {
    font-size: 4.3rem / 5rem;
    margin-bottom: 48px;
  }
  @media (--desktop) {
    width: 350px;
    margin: 0;
    padding-top: 68px;
    margin-left: -5px;
    margin-bottom: 49px;
    font-size: 5.3rem / 5.7rem;
  }
}
.contacts__wrap-addres {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @mixin container;
  font-size: 1.5rem / 3rem;
  margin-bottom: 38px;
  @media (--tablet) {
    font-size: 1.7rem / 3rem;
    margin-bottom: 55px;
  }
  @media (--desktop) {
    width: 350px;
    margin: 0;
    margin-bottom: 80px;
  }
}
.contacts__text {
  width: 76px;
  margin-bottom: 30px;
}
.contacts__link-email {
  font-size: 1.5rem / 3rem;
  color: $color-secondary;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $color-accent;
  transition: 80ms;
  &:hover {
    color: rgba(70, 193, 174, 1);
    border-bottom: 1px solid rgba(70, 193, 174, 1);
  }
  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
  @media (--tablet) {
    margin-right: 54px;
    font-size: 1.7rem / 2.7rem;
  }
}
.contacts__box {
  display: block;
  width: 153px;
  span {
    display: block;
  }
  .contacts__shift {
    display: inline-block;
  }
  @media (--tablet) {
    width: 250px;
    .contacts__shift {
      display: block;
    }
  }
}
.contacts__icon-flag {
  @media (--mobile) {
    display: none;
  }
  @media (--tablet) {
    display: block;
    @mixin  icon;
    size: 47px 81px;
    top: -113px;
    right: 3px;
  }
  @media (--desktop) {
    top: -113px;
    left:-113px;
  }
}
