.contacts {
  @mixin fluid-width;
  @mixin vert-padding 25px, 40px;
  background-color: $color-primary;
  @media (--tablet) {
    @mixin vert-padding 32px, 57px;
  }
  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @mixin container;
    @mixin vert-padding 76px, 50px;
  }
}
.contacts__container {
  box-sizing: border-box;
  position: relative;
  @mixin container-fluid;
  @media (--desktop) {
    width: 525px;
    padding-top: 25px;
    padding-left: 175px;
  }
}
.contacts__title {
  font-size: 1.8rem / 3rem;
  margin-bottom: 25px;
  @media (--tablet) {
    font-size: 4.3rem / 5rem;
    margin-left: -5px;
    margin-bottom: 50px;
  }
  @media (--desktop) {
    font-size: 5.3rem / 5.7rem;
  }
}
.contacts__wrap-addres {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 1.5rem / 3rem;
  margin-bottom: 38px;
  @media (--tablet) {
    font-size: 1.7rem / 3rem;
    margin-bottom: 55px;
  }
  @media (--desktop) {
    margin-bottom: 0;
  }
}
.contacts__text {
  width: 77px;
  margin-bottom: 30px;
}
.contacts__link-email {
  font-size: 1.5rem / 3rem;
  color: $color-secondary;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $color-accent;
  transition: 80ms;
  &:hover {
    color: rgba(70, 193, 174, 1);
    border-bottom: 1px solid rgba(70, 193, 174, 1);
  }
  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
    @media (--tablet) {
      margin-right: 53px;
      font-size: 1.7rem / 2.7rem;
    }
}
.contacts__box {
  display: block;
  width: 153px;
  span {
    display: block;
  }
  .contacts__shift {
    display: inline-block;
  }
  @media (--tablet) {
  width: 250px;
  .contacts__shift {
    display: block;
    }
  }
}
.contacts__icon-flag {
  @media (--mobile) {
    display: none;
  }
  @media (--tablet) {
    display: block;
    @mixin  icon;
    size: 47px 81px;
    transform: translate(618px, -260px);
  }
  @media (--desktop) {
    transform: translate(-112px, -265px);
  }
}
