.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @mixin  fluid-width;
  @mixin vert-padding 22px, 55px;
  background-color: $color-primary;
  @media (--tablet) {
    @mixin vert-padding 72px, 33px;
  }
  @media (--desktop) {
    @mixin vert-padding 116px, 30px;
  }
}
.form__text {
  @mixin  container;
  padding: 0;
  margin: 0;
  font-size: 1.3rem / 2.4rem;
  margin-bottom: 25px;
  @media (--tablet) {
    font-size: 1.7rem / 3rem;
    margin-bottom: 7px;
  }
  @media (--desktop) {
    width: 700px;
  }
}
.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  @media (--tablet) {
    @mixin vert-padding 50px, 25px;
    @mixin  fluid-width;
  }
  &--grey {
    @media (--tablet) {
      @mixin vert-padding 50px, 26px;
      background-color: $secondary-background;
    }
    @media (--desktop) {
      @mixin vert-padding 49px, 22px;
    }
  }
}
.form__container {
  box-sizing: border-box;
  @mixin  container;
  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media (--desktop) {
    padding-left: 60px;
  }
  &--l-size {
    @media (--tablet) {
      @mixin vert-padding 2px, 29px;
    }
    @media (--desktop) {
    padding-right: 175px;
    }
  }
  &--s-size {
    @media (--desktop) {
      padding-left: 175px;
      padding-right: 175px;
    }
  }
}
.form__title {
  display: flex;
  font-size: 1.7rem / 1.6rem;
  font-weight: 700;
  color: $color-accent;
  color: red;
  text-transform: uppercase;
  &::after {
    display: block;
    flex-grow: 1;
    content: "";
    margin: auto *;
    margin-right: 0;
    margin-left: 22px;
    border-bottom: 1px solid $color-accent;
    @media (--tablet) {
      border-bottom: none;
    }
    @media (--desktop) {
      border-bottom: none;
    }
  }
  @media (--tablet) {
    margin-top: 17px;
  }
  &--margin {
    margin-top: 10px;
    @media (--tablet) {
      width: 160px;
    }
    @media (--desktop) {
      width: 112px;
    }
  }
}
.form__inner {
  outline: 2px solid red;
  box-sizing: border-box;
  @mixin vert-padding 25px, 14px;
  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 500px;
    @mixin vert-padding 0, 0;
  }
  @media (--desktop) {
    width: 875px;
  }
  &--alt-size {
    justify-content: space-between;
    @mixin vert-padding 29px, 0;
    @media (--tablet) {
      align-items: stretch;
      @mixin vert-padding 15px, 25px;
    }
    @media (--desktop) {
      padding-right: 175px;
    }
  }
}
.form__radio {
  display: none;
}
.form__checkbox {
  display: none;
}
.form__label {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 260px;
  font-size: 1.7rem / 1.8rem;
  font-weight: 700;
  @media (--tablet) {
    padding-left: 80px;
    font-size: 1.9rem / 1.8rem;
  }
  &--radio {
    @mixin vert-padding 10px, 10px;
    padding-left: 64px;
    margin-bottom: 14px;
    &::before {
      display: block;
      box-sizing: border-box;
      content: "";
      position: absolute -5px * * 2px;
      size: 38px;
      border: 1px solid $color-secondary;
      background-color: transparent;
      border-radius: 50%;
      transition: 80ms;
      @media (--tablet) {
        size: 51px;
        top: -1px;
        left: 0;
      }
    }
    &::after {
      display: none;
      content: "";
      position: absolute 6px * * 13px;
      size: 16px;
      border-radius: 50%;
      background-color: $color-accent;
      @media (--tablet) {
        position: absolute 14px * * 15px;
        size: 21px;
      }
    }
  }
    @media (--tablet) {
      @mixin vert-padding 14px, 17px;
      padding-left: 80px;
      width: 500px;
      margin-bottom: 27px;
    }
    @media (--desktop) {
      width: 875px;
      @mixin vert-padding 15px, 17px;
    }
  &--radio:first-of-type {
    padding-bottom: 5px;
    @media (--tablet) {
      padding-bottom: 17px;
    }
    &::before {
      top: 0;
    }
    &::after {
      top: 11px;
      @media (--tablet) {
        top: 15px;
      }
    }
  }
  &--checkbox {
    @mixin vert-padding 10px, 9px;
    padding-left: 64px;
    margin-bottom: 24px;
    &::before {
      display: block;
      box-sizing: border-box;
      content: "";
      position: absolute 0px * * 1px;
      size: 38px;
      border: 2px solid $color-secondary;
      background-color: transparent;
      @media (--tablet) {
        size: 52px;
        left: 0;
      }
      @media (--desktop) {
        width: 53px;
        top: -1px;
      }
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
    &:nth-of-type(2n) {
      @media (--tablet) {
        padding-left: 92px;
        &::before {
          left: 12px;
        }
      }
      @media (--desktop) {
        padding-left: 81px;
      }
    }
    &:nth-of-type(1n) {
      &::before {
        @media (--desktop) {
          left: 0px;
        }
      }
    }
    @media (--tablet) {
      width: 250px;
      @mixin vert-padding 15px, 17px;
      padding-left: 81px;
      margin-bottom: 26px;
    }
    @media (--desktop) {
      width: 263px;
      @mixin vert-padding 15px, 17px;
      margin-bottom: 26px;
    }
  }
}
.form__radio:checked + .form__label--radio::after {
  display: block;
}
.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  background-position: 50% 50%;
  @media (--tablet) {
    background-size: 33px 22px;
  }
}
.form__label-text {
  color: red;
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 260px;
  font-size: 1.7rem / 1.8rem;
  font-weight: 700;
  @media (--tablet) {
    font-size: 1.9rem / 1.8rem;
    width: 125px;
  }
  &--s-size {
    @media (--tablet) {
      width: 72px;
    }
  }
}
.form__input {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 260px;
  @mixin vert-padding 16px, 14px;
  font-size: 1.7rem / 1.8rem;
  border: none;
  border-bottom: 2px solid $text-color-base;
  border-bottom: 2px solid red;
  background-color: transparent;
  margin-bottom: 24px;
  transition: all 80ms;
  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
  &:hover {
    border-bottom: 2px solid $color-accent;
  }
  &:focus {
    &::placeholder {
      color: $color-secondary;
    }
  }
  @media (--tablet) {
    width: 375px;
    @mixin vert-padding 0px, 14px;
    padding-left: 18px;
    font-size: 1.9rem / 1.8rem;
    margin-bottom: 38px;
  }
  @media (--desktop) {
    width: 573px;
  }
  &:last-of-type {
    @media (--tablet) {
      margin-bottom: 0;
    }
  }
  &--l-size {
    @media (--tablet) {
      width: 428px;
    }
    @media (--desktop) {
      width: 626px;
    }
  }
  &--icon {
    position: relative;
    margin-top: 7px;
    margin-bottom: 34px;
    @media (--tablet) {
      width: 500px;
      @mixin vert-padding 5px, 14px;
      margin-bottom: 25px;
    }
    @media (--desktop) {
      width: 700px;
    }
  }
}
.form__icon {
  @mixin  icon;
  transition: 80ms;
  &:hover {
    fill: #63d1bb;
  }
  &--phone {
    size: 25px 24px;
    transform: translate(228px, -75px);
    fill: #cccccc;
    @media (--tablet) {
      transform: translate(615px, 9px);
    }
    @media (--desktop) {
      transform: translate(780px, 9px);
    }
  }
  &--mail {
    size: 32px 32px;
    transform: translate(225px, -75px);
    fill: #cccccc;
    @media (--tablet) {
      transform: translate(615px, 85px);
    }
    @media (--desktop) {
      transform: translate(777px, 85px);
    }
  }
}
.form__textarea {
  box-sizing: border-box;
  width: 260px;
  min-height: 141px;
  margin-top: 23px;
  padding-top: 15px;
  padding-left: 15px;
  border: none;
  border: 2px solid $color-secondary;
  background-color: transparent;
  margin-bottom: 14px;
  transition: all 80ms;
  &::placeholder {
    font-size: 1.7rem / 1.8rem;
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3);
  }
  &:hover {
    border: 2px solid $color-accent;
  }
  &:focus {
    &::placeholder {
      color: $color-secondary;
    }
  }
  @media (--tablet) {
    width: 500px;
    margin-top: 0;
    padding-top: 12px;
    padding-left: 13px;
    margin-bottom: 29px;
    &::placeholder {
      font-size: 1.9rem / 1.8rem;
    }
  }
  @media (--desktop) {
    width: 700px;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-bottom: 26px;
  }
}
.form__text-note {
  font-size: 1.4rem / 1.6rem;
  color: $color-secondary;
  margin-bottom: 31px;
  @media (--tablet) {
    margin-top: 9px;
    font-size: 1.7rem / 3rem;
    order: 1;
  }
}
