.header-main {
  @mixin fluid-width;
}
.header-main__item-text {
  display: none;
  @media (--tablet) {
    position: relative;
    display: block;
    @mixin container-fluid;
    margin-top: -23px;
    text-align: right;
    font-size: 1.5rem / 2.4rem;
    z-index: 10;
  }
  @media (--desktop) {
  }
}
