.headline {
  @mixin fluid-width;
  position: relative;
  background-color: $secondary-background;
  border-top: 1px solid $border-color;
  @mixin vert-padding 47px, 53px;
  @media (--tablet) {
    margin-top: -42px;
    @mixin vert-padding 58px, 48px;
    border-top: none;
    &::before {
      content: "";
      position: absolute * * -14px 0;
      size: 100% 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-position: center top;
      background-size: auto 23px;
      z-index: 2;
      @media (--desktop) {
        height: 34px;
        background-size: contain;
      }
    }
  }
  @media (--desktop) {
    @mixin vert-padding 49px, 65px;
  }
  &--theme-catalog {
    @mixin vert-padding 51px, 58px;
    @media (--tablet) {
      @mixin vert-padding 67px, 48px;
    }
    @media (--desktop) {
      @mixin vert-padding 57px, 75px;
    }
  }
}
.headline__title {
  display: block;
  @mixin  container;
  text-align: center;
  font-size: 2.7rem / 3rem;
  @media (--tablet) {
    font-size: 4.3rem / 5rem;
  }
  @media (--desktop) {
    font-size: 5.3rem / 5.7rem;
  }
  &--theme-catalog {
    @media (--tablet) {
      box-sizing: border-box;
      text-align: left;
      padding-left: 151px;
      @media (--desktop) {
        text-align: center;
        padding-left: 0;
      }
    }
  }
}
