.map {
  position: relative;
  @mixin fluid-width;
  height: 457px;
  background-color: #f3f1ea;
  background-image:url("../img/icon-map-pin.svg"),
  url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 67px 100px, auto auto;
  background-position: 145px 165px, center center;
  @media (--mobile) {
    @media (--retina) {
      background-image:url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
      background-size: 67px 100px, 320px auto;
    }
  }
  @media (--tablet) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-size: 67px 100px, auto auto;
    background-position: 347px 163px, center center;
    @media (--retina) {
      background-image:url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
      background-size: 67px 100px, 768px auto;
    }
  }
  @media (--desktop) {
    width: 525px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("../img/icon-map-pin.svg"),
    url("../img/map-desktop@1x.jpg");
    background-size: 67px 100px, contain;
    background-position: 235px 163px, center center;
    z-index:5;
    @media (--retina) {
      background-image:url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    }
  }
}
