.product-week {
  position: relative;
  @mixin fluid-width;
  @mixin vert-padding 0, 37px;
  color: $color-secondary;
  background-color: $color-primary;
  &::before {
    @mixin  zigzag-line;
  }
  @media (--tablet) {
    @mixin vert-padding 19px, 64px;
  }
  @media (--desktop) {
    @mixin vert-padding 0, 87px;
  }
}
.product-week__container {
  position: relative;
  @mixin container;
  @media (--tablet) {
    display: flex;
    flex-direction: column;
  }
  @media (--desktop) {
    @mixin vert-padding 90px, 0px;
  }
}
.product-week__header {
  @mixin vert-padding 28px, 9px;
  @media (--tablet) {
  display: flex;
  justify-content: space-between;
  @mixin vert-padding 27px, 26px;
  }
  @media (--desktop) {
    width: 695px;
    @mixin vert-padding 27px, 26px;
  }
}
.product-week__title {
  padding: 0;
  margin: 0;
  font-size: 2.5rem / 3rem;
  font-weight: 700;
  margin-bottom: 7px;
  @media (--tablet) {
    font-size: 4.3rem / 5rem;
    margin-bottom: 0;
  }
  @media (--desktop) {
    position: relative;
    font-size: 5.3rem / 5.7rem;
    order: 1;
    z-index: 3;
  }
}
.product-week__tag {
  font-size: 1.7rem / 1.6rem;
  font-weight: 700;
  color: $color-accent;
  text-transform: uppercase;
  @media (--tablet) {
    width: 80px;
    text-align: center;
    margin-top: 13px;
    margin-right: 23px;
  }
  @media (--desktop) {
    margin-top: 17px;
    margin-left: 41px;
    margin-right: 0;
  }
}
.product-week__wrap-desc {
  box-sizing: border-box;
  width: 260px;
  @media (--tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    size: 334px 435px;
    @mixin vert-padding 7px, 0;
    padding-right: 40px;
  }
  @media (--desktop) {
    width: 350px;
    height: 502px;
    margin-left: 175px;
  }
}
.product-week__lead-desc {
  display: block;
  width: 260px;
  font-size: 1.5rem / 2.4rem;
  margin-bottom: 18px;
  @media (--tablet) {
    width: 290px;
    font-size: 1.7rem / 3rem;
    margin-bottom: 25px;
  }
  @media (--desktop) {
    margin-bottom: 40px;
  }
}
.product-week__desc {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 260px;
  margin-bottom: 29px;
  @media (--tablet) {
    width: 290px;
    margin-bottom: 55px;
  }
  @media (--desktop) {
    margin-bottom: 0;
  }
}
.product-week__col {
  width: 162px;
  padding: 0;
  margin: 0;
  font-size: 1.5rem / 2rem;
  @mixin vert-padding 9px, 10px;
  border-bottom: 1px solid $border-color;
  @media (--tablet) {
    width: 193px;
    @mixin vert-padding 9px, 10px;
  }
  @media (--desktop) {
    @mixin vert-padding 7px, 12px;
  }
  &--s-size {
    width: 98px;
    @media (--tablet) {
      width: 97px;
    }
  }
}
.product-week__link-image {
  display: block;
  margin: 0 auto;
  @media (--tablet) {
    size: 335px 405px;
    position: absolute 135px 0 * *;
  }
  @media (--desktop) {
    size: 525px 636px;
    top: 65px;
    z-index: 2;
  }
}
.product-week__text-price {
  display: block;
  box-sizing: border-box;
  width: 260px;
  text-align: center;
  font-size: 1.7rem / 2.4rem;
  font-weight: 700;
  color: $color-secondary;
  margin-top: 20px;
  margin-bottom: 25px;
  @media (--tablet) {
    width: 290px;
    font-size: 2rem / 2.4rem;
    margin-top: auto;
    margin-bottom: 34px;
  }
  @media (--desktop) {
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: 35px;
  }
}
