.video {
  display: flex;
  flex-direction: column;
  @mixin  container;
  @mixin vert-padding 22px, 30px;
  border: 1px solid $border-color;
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
  @media (--tablet) {
    align-items: center;
    @mixin vert-padding 0px, 0px;
  }
  @media (--desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.video__title {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-left: 90px;
  font-size: 1.7rem / 2.4rem;
  font-weight: 700;
  margin-bottom: 25px;
  span {
    display: block;
  }
  @media (--tablet) {
    outline: 2px solid red;
    order: 1;
    width: 100%;
    padding-left: 105px;
    font-size: 2rem / 2.4rem;
    margin-bottom: 15px;
    span {
      display: inline-block;
    }
  }
  @media (--desktop) {
    width: 230px;
  }
}
.video__icon-video {
  @mixin  icon;
  size: 32px;
  top: 6px;
  left: 33px;
  @media (--tablet) {
    top: -5px;
    left: 41px;
  }
}
.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  @mixin  container;
  height: 150px;
  font-size: 0;
  background-color: #e6e4e5;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  margin-bottom: 12px;
  @media (--mobile) {
    @media (--retina) {
      background-image: url("../img/video-mobile@2x.jpg");
      background-size: 260px auto;
    }
  }
  @media (--tablet) {
    order: 0;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: auto auto;
    margin-bottom: 39px;
    @media (--retina) {
      background-image: url("../img/video-mobile@2x.jpg");
      background-size: 668px auto;
    }
  }
  @media (--desktop) {
    width: 680px;
    margin-right: 80px;
  }
}
.video__btn-play {
  position: relative;
  width: 102px;
  height: 78px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 80ms;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform:  scale(0.8);
    opacity: 0.3;
  }
}
.video__icon-btn-play {
  @mixin  icon;
  size: 102px 78px;
  top: 0px;
  left: 0px;
}
.video__inner {
  @media (--tablet) {
    order: 2;
    width: 585px;
  }
  @media (--desktop) {
    width: 230px;
    margin-left: auto;
  }
}
.video__text {
  width: 190px;
  margin: * auto;
  font-size: 1.3rem / 2.4rem;
  margin-bottom: 25px;
  span {
    display: block;
  }
  @media (--tablet) {
    width: 100%;
    font-size: 1.5rem / 3rem;
    margin-bottom: 35px;
    span {
      display: inline-block;
    }
  }
}
